{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% for quote in quotes %}
<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{quote.quote}}</p>
      <footer class="blockquote-footer">Developer<cite title="Source Title">{{quote.author}}</cite></footer>
    </blockquote>
  </div>
</div><br>
{% endfor %}
{% if posts %}
  {% for posts in posts %}
      <article class="media content-section">
        <img class = "rounded-circle article-img" src="" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="">{{ current_user.username}}</a>
      <h2><a class="article-title" href="">{{ posts.title }}</a></h2>
      <p class="article-content">{{ posts.content }}</p>
      <p>Category:<span class="text-muted">{{posts.category}}</span></p>
      <a href="{{url_for('main.comment')}}" class="btn btn-primary -center">Comment</a>
    </div>
    {% else %}
    </article>
    No post in this category yet !!
    {%endfor%}
    {% endif %}
 
    


{% endblock %}